.cardWrap{
    margin-bottom: 26px;
    width: 100%;
    /* max-width: ; */
    display: flex;
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    justify-content: space-between;
}
h2{
    font-size: 2rem;
    color:#c75c6f
}
.projectImgWrap{
    width: 50%;
}
.projectImg{
    width: 100%;
    object-fit: contain;
}
.projectDescWrap{
    width: 50%;
    padding: 10px;
    text-align: center;
}
.projectTitle{
    font-size: 2.2rem;
    color : #292930;
    padding: 0 20px;
}
