.title>div{
    color:#292930;
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    font-family: "pretendard", sans-serif;
    padding-top: 1rem;
} 
@media (max-width: 768px) {
    .title>div{
        color:#292930;
        font-size: 4.0rem;
    }
}
@media (max-width: 576px){
    .title>div{
        font-size: 3.2rem;
    }
} 