/* z-index 
back -2
btn, img, text 0
circle -1
*/
.mainIntroWrap{
    margin: 30px 100px 0 100px;
    background-color: #2522BA;
    border-radius: 15px;
    position: relative;
    z-index: -2;
}
.mainBanner{
    display: flex;
    justify-content: space-between;
}
.bannerDesc{
    width: 50%;
    padding: 60px 0px 10px 50px;
}
.bannerDesc p, span{
    font-size: 52px;
    font-weight: 700;
}
.bannerDesc p {color:#ffffff}
.bannerDesc span {color:#badfff}
.btns{
    display: flex;
    justify-content: space-around;
    padding: 28px;
}
.bannerImg{
    width: 40%;
}
.bannerImg img{
    width: 80%;
    min-width: 300px;
    position:relative;
    top: 6px;
}

.circleWrap{
    position: relative;
    z-index:-1;
}
.circleWrap img{
    position: absolute;
}
.static{
    left:72%;
}
.moving1{
    left:20%;
    animation: move1 infinite 20s;
}
@keyframes move1 {
    0% {transform: translate(0,0);}
    20% {transform: translate(800px, 400px);}
    50% {transform: translate(-100px,450px);}
    75% {transform: translate(-400px,240px);}
    100% {transform: translate(0,0);}
}
.moving2{
    left:2%;
    top:36px;
    animation: move2 30s linear 1s infinite;
}
@keyframes move2 {
    0% {transform: translate(0,0);}
    40% {transform: translate(1400px, 100px);}
    48% {transform: translate(1000px,180px);}
    78% {transform: translate(400px,440px);}
    92% {transform: translate(-120px,220px);}
    100% {transform: translate(0,0);}
}
.moving3{
    left:100%;
    top:560px;
    animation: move3 20s linear infinite;
}
@keyframes move3 {
    0% {transform: translate(0,0);}
    25% {transform: translate(-600px, -250px);}
    60% {transform: translate(-620px,-540px);}
    80% {transform: translate(-20px,-500px);}
    90% {transform: translate(-10px,-240px);}
    100% {transform: translate(0,0);}
}
.moving4{
    left:-166px;
    top:560px;
    animation: move4 40s linear infinite alternate;
}
@keyframes move4 {
    0% {transform: translate(0,0);}
    25% {transform: translate(880px, -240px);}
    50% {transform: translate(1770px,-560px);}
    75% {transform: translate(20px,-500px);}
    100% {transform: translate(100px,-50px);}
}






