/* z-index 
btn, text 4 
circle 1.2 
3dimg 3 
*/
.donutTop{
    position: absolute;
    width: 36%;
    height: 60%;
    top: -8%;
    left: 68%;
    z-index:3;
  }
.donutBottom{
    position: absolute;
    width: 54%;
    height: 54%;
    top: 54%;
    left: -14%;
    z-index:3;
}
.mainIntroWrap{
    margin: 44px 100px 0 100px;
    background-color: #2522BA;
    border-radius: 60px;
    position: relative;
    min-height:840px;
}
.profileImg{
    height:104%;
    position: absolute;
    z-index: 4;
    left: 55%;
    bottom:0;
}
.profileImg > img{
    height: 100%;
}
.mainBanner{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;    
    height: 100%;
}
.bannerDesc{
    width: 100%;
    padding: 10% 2%;
    position: relative;
    z-index:4;
    text-align: left;
}
.bannerDesc p, span{
    font-size: 7.8rem;
    font-weight: 700;
}
.bannerDesc span.big{font-size: 8rem;}
.bannerDesc p {color:#ffffff}
.bannerDesc span {color:#badfff}
.btns{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    z-index: 4;
    position: relative;
    width: 60%;
}
.backGroundWrap{
    position: absolute;
    width: 100%;
    height: 100%;
}
.img3Dbottom{
    z-index: 4;
    width: 34%;
    height: 40%;
    background: url("../../assets/banner-shape-2.png") no-repeat;
    left:0;
    bottom: 0;
    position: absolute;
    border-bottom-left-radius: 60px;
    background-size: contain;
    background-position: left bottom;
}
.backGroundWrap li{
    display: block;
    position: absolute;
    z-index:2;
    left:48%;
    top:12%
}
.backGroundWrap .static{
    z-index: 2;
    width: 30%;
    height: 40%;
    background: url("../../assets/circle-half.png") no-repeat;
    left:71%;
    top: 0;
    background-size: contain;
}

.moving1{
    width: 8%;
    height: 12%;
    background: url("../../assets/circle-blue.png") no-repeat ;
    animation: move1 infinite ease-in-out alternate 40s;
    background-size: contain;
}
@keyframes move1 {
    0% {transform: scale(0)}
    2% {transform: scale(1);}
    45% {transform: translate(400%,25%);}
    60% {transform: translate(450%,300%);}
    88% {transform: translate(520%,620%);}
    100% {transform: translate(-400%,-100%);}
}
.moving2{
    width: 8%;
    height: 12%;
    opacity: 0;
    background: url("../../assets/circle-purple.png") no-repeat ;
    animation: move2 62s ease-in-out 5s infinite;
    background-size: contain;
}
@keyframes move2 {
    0% {transform: scale(0); opacity: 1;}
    6% {transform: scale(1);}
    37% {transform: translate(-450%, -100%);}
    60% {transform: translate(-480%,500%);}
    74% {transform: translate(475%,500%);}
    90% {transform: translate(50%,0%);}
    100% {transform: translate(0,0);}
}
.moving3{
    width: 2%;
    height: 4%;
    opacity: 0;
    background: url("../../assets/circle-white.png") no-repeat ;
    animation: move3 50s linear 2s infinite;
    background-size: contain;
    
}
@keyframes move3 {
    0% {transform: scale(0); opacity:0}
    10% {transform: scale(1); opacity: 1;}
    25% {transform: translate(-2200%,500%);}
    50% {transform: translate(2000%,2000%);}
    80% {transform: translate(-1800%,450%);}
    90% {transform: translate(300%,50%);}
    100% {transform: translate(0,0);}
}
.moving4{
    width: 2%;
    height: 3%;
    opacity:0;
    background: url("../../assets/circle-white.png") no-repeat ;
    animation: move4 65s linear 12s infinite alternate;
    background-size: contain;
}
@keyframes move4 {
    0% {transform:scale(0);}
    6% {transform:scale(1); opacity: 0.5;}
    25% {transform: translate(120%,900%);}
    32% {transform: translate(-120%,400%);}
    50% {transform: translate(-400%,900%);}
    56% {transform: translate(-760%,400%);}
    75% {transform: translate(-1010%,900%);}
    81% {transform: translate(-1000%,400%);}
    100% {transform: translate(-1120%,900%);}
}
@media (max-width: 1810px) {
    .backGroundWrap .static{
        width: 25%;
        height: 40%;
    }
  }
@media (max-width: 1440px) {
  .mainIntroWrap{
      min-height: 0;
  }
  .donutTop{
      display: none;
  }
  .donutBottom{
      width: 46%;
      top: -10%;
      left: 60%;
  }
  .bannerDesc p, span{
    font-size: 6.8rem;
    font-weight: 700;
}
}
@media (max-width: 1200px) {
    .bannerDesc{
        padding: 0% 2% 18%;
    } 
    .bannerDesc p, span{
        font-size: 6rem;
        font-weight: 700;
    }
}
@media (max-width: 990px) {
    .mainIntroWrap{
        margin: 24px 34px 0;
    }
    .bannerDesc p, span{
        font-size: 5.2rem;
        font-weight: 700;
    }
    .btns{
        flex-direction: column;
        width: 30%;
        margin-left: 130px;
    }
    .profileImg{
        left: 46%;
    }
    .bannerDesc{
        padding: 0% 2% 6%;
    } 
}
@media (max-width: 768px) {
    .mainIntroWrap{
        margin: 24px 12px 0;
    }
    .backGroundWrap .static{
        left:60%
    }
    .bannerDesc p, span{
        font-size: 3.9rem;
        font-weight: 700;
    }
    .btns{
        width: 28%;
        margin-left: 110px;
    }
    .profileImg{
        left: 56%;
    }
}
@media (max-width: 576px) {
    .mainIntroWrap{
        margin: 14px 2px 0;
    }
    .profileImg{
        height:90%;
    }
    .donutBottom{
        left:48%;
    }
}
@media (max-width: 476px) {
    .btns {
        width: 34%;
        margin-left: 28px;
    }
    .profileImg{    
        left: 48%;
        height: 76%;
    }
}


