/* ProjectCard */
.projectCard{
    box-shadow: 0 55px 86px -35px #ecf2f6;
    border-radius: 30px;
    margin:0 35px 40px;
    width: calc(100%/2 - 70px);
    height: 50%;
    min-height: 613px;
}
.projectImgWrap{
    overflow: hidden;
    width: 100%;
    height:100%;
    max-height: 460px;
    border-radius: 30px 30px 0 0 ;
    position: relative;
}
.projectImgCover{
    width: 100%;
    position: relative;
    object-fit: contain;
}
.projectImg{
    width: 100%;
    position: relative;
    transition: all 5s;
    min-height: 460px;
}
.projectDescWrap{
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    padding: 40px 50px 20px;
    position: relative;
    margin: 0 auto;
}


    /* btn cover */
.imgCover{
    position:absolute;
    background-color: #1c2147;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.descWrap {
    position:absolute;
    z-index:2;
    top: 20%;
    left: 0%;
    width: 100%;
    transition: all 0.3s;
    opacity: 0;
}
.projectCard:hover .imgCover{ z-index: 1;}
.projectCard:hover .descWrap{opacity:1; z-index: 2;}

.projectNumber{
    color : #c75c6f;
    font-size: 2.0rem;
    position: absolute;
    top: 6%;
}
.circlePink{
    position: absolute;
    width: 100%;
    opacity:0.3;
    top: 40%;
    left: 20%;
}
.projectTitle{
    color:#292930;
    font-size: 3.2rem;
    font-weight: 500;
    font-family: "pretendard", sans-serif;
    position: relative;
    top: -1rem;
    left: 10%;
}
.projectContent{
    color : #525260;
    font-size: 2.6rem;
    font-weight: 500;
    font-family: "pretendard", sans-serif;
    margin:0px;
    padding-left:10%;
    
}
.fontEnglish{
    font-family: 'DM Sans', sans-serif;
}
.projectSkills{
    color:#C75C6F;/* #525260; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-top: 0;
    padding-left:10%;
}
.descWrap p{
    color : #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 28%;
}
.descTitle{
    color:#ffffff;
    font-size: 1.8rem;
    font-weight: 500;
}

.btnWrap{
    display: flex;
    justify-content: center;
}


/* MainProject */
.MainProjectWrap{
    margin: 0 auto;
    padding: 140px 0 110px ;
    background-color: #ecf2f6;
    background-image: url("../../assets/background-pink-line.png");
    background-repeat: no-repeat;
    background-position-x:100%;
    background-position-y:20%;
    background-size: 50%;
}
h2{
    border-top-color: linear-gradient(to right, rgba(89,86,233,0), rgba(89,86,233,1), rgba(89,86,233,0));
    font-size: 2rem;
    color:#c75c6f;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom:15px;
}
.subTitle{
    color:#292930;
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    font-family: "pretendard", sans-serif;
    }
.projectCardsWrap{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
@media (max-width: 1200px) {
    .projectCard{
        margin-bottom:0 0.3% 4%;
        height: 50%;
        min-height: 613px;
    }
    .descWrap p{
        padding: 0 4%;
        text-align: center;
    }
    .descWrap {
        top: 16%;
    }
    .btnWrap{
        margin-top: 30px;
    }
}
@media (max-width: 990px) {
    .subTitle{
        font-size: 4.6rem;
    }
    .projectTitle{
        font-size: 2.4rem;
    }
    .projectContent{
        font-size: 2.0rem;
        
    }
    .projectDescWrap{
        padding: 40px 38px 20px;
    }
    .projectCardsWrap{
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    .projectCard{width: 70%;}
    .MainProjectWrap{
        padding: 110px 0 110px ;
    }
}
@media (max-width: 768px) {
    .projectCard{
        width: 76%;
    }
    .descWrap {
        top: 12%;
    }
}
@media (max-width: 576px) {
    .subTitle{
        font-size: 3.6rem;
    }
    .descWrap {
        top: 4%;
    }
    .descWrap p{
        padding: 0 13%;
    }
    .projectImg{
        width: 100%;
        position: relative;
        transition: all 5s;
        min-height: 328px;
    }
    .descWrap{
        top:1%
    }
    .btnWrap{
        margin-top: 14px;
    }
    .projectCard{
        min-height: 456px;
        margin-bottom: 46px;
    }
    .projectImgCover{
        height: 328px;
    }

}