.mainSkillWrap{
    padding:140px 0 140px 0;
    width: 100%;
    background-color: #27272e;
    background-image: url("../../assets/background-black-line.png");
    background-repeat: no-repeat;
    background-position-x:100%;
    background-position-y:10%;
    
}
.mainSkillTitle{
    font-size: 2rem;
    color:#c75c6f;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom:15px;
    text-align: center;
}
.skillbarWrap{
    position: relative;
    margin: 56px 0 30px;
}
.skillIcons{
    display: flex;
}
.skillIcon{
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
    transition: all 1s;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    font-weight:500;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    line-height: 1.2;
}
.skillIcon:hover{
    filter:grayscale(0%);
}
.skillIcon Img{
    width: 100%;
}