.MainProjectWrap{
    margin: 0 auto;
    padding: 140px 0 110px ;
    background-color: #ecf2f6;
    background-image: url("../../assets/background-pink-line.png");
    background-repeat: no-repeat;
    background-position-x:100%;
    background-position-y:20%;
    background-size: 50%;
}
h2{
    border-top-color: linear-gradient(to right, rgba(89,86,233,0), rgba(89,86,233,1), rgba(89,86,233,0));
    font-size: 2rem;
    color:#c75c6f;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom:15px;
}
.subTitle{
    color:#292930;
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    font-family: "pretendard", sans-serif;
    }
.projectCardsWrap{
    display: flex;
    width: 100%;
}
.projectCard{
    box-shadow: 0 55px 86px -35px #ecf2f6;
    border-radius: 30px;
    margin-bottom: 40px;
    overflow: hidden;
     /* 나중에수정 */
    width: 50%;
    height: 50%;
}
.projectCard img{
    width: 100%;
    height: 500px;
}
.projectDescWrap{
    background-color: #fff;
    border-radius: 0 0 30px 30px;
    padding: 40px 50px;
}
.projectNumber{
    color : #c75c6f;
    font-size: 1.6rem;
}