.MainInfoWrap{
    padding:140px 0 110px;
    margin: 0 auto;
    background: url("../../assets/info-background.png") no-repeat;
    background-position-x: -2%;
    background-position-y: -40%;
}
.title{
    font-size: 2rem;
    color:#c75c6f;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom:15px;
}
.subTitle{
    color:#292930;
    font-size: 5.6rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-bottom: 30px;
    font-family: "pretendard", sans-serif;
}

.infoBoxesWrap{
    display: flex;
    justify-content: space-between;
}
.boxWrap{
    width:410px;
    height: 290px;
    border-radius: 15px;
    background:linear-gradient(40deg,#f8f8f8,hsla(0,0%,100%,0));
    position: relative;
    transition: all 2s;
}
.boxWrap:hover{
    background: linear-gradient(0deg,#ecf2f6,hsla(0,0%,100%,0)),
    linear-gradient(180deg,#f8f8f8,hsla(0,0%,100%,0));
}
.boxWrap:hover .boxTitle{
    color:#5956E9;
}
.boxInfo{
    margin-top:252px;
}
.boxHistory{
    margin-top:96px;
}
.boxEducation{
    margin-top:-30px;    
}
.boxTitle{
    font-size: 2.4rem;
    color : #292930;
    line-height: 1.4;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
    padding-left:30px;
    transition: all 0.8s;
}
.boxContent .date{
    padding: 20px 0 0 40px;
}
.boxContent p{
    letter-spacing: -0.4px;
    color:#525260;
    line-height: 1;
    padding-left: 50px;
}

.boxWrap img{
    position: absolute;
    z-index:-1;
}
.circleYellow{
    top:-22%;
    left:-18%
}
.circlePink{
    top: -14%;
    left: -10%;
}
.circlePurple{
    top: -12%;
    left: -10%;
}
/* z-index 
btn, img, text 0
circle -1
*/