.hamburgerWrap{
    width: 3em;
    height: 3em;
}
.hamburgerBtn{
    width: 2.8em;
    height: 2.8em;
    background-color : #525260;
    border-style: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.hamburgerBtn span{
    display: inline-block;
    height: 2px;
    width: 28px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 3px auto;
}
