.hamburgerWrap{
    width: 60px;
    height: 60px;
}
.hamburgerBtn{
    width: 60px;
    height: 60px;
    background-color : #525260;
    border-style: none;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hamburgerBtn span{
    display: inline-block;
    height: 2px;
    width:60%;
    background-color: #ffffff;
    margin: 3px auto;
    transition: width 0.5s;
}
span.longbar{
    width:60%;
}
span.shortbar{
    width: 30%;
    margin-right: 10px;
}
.hamburgerContents{
    width: 0vh;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    visibility: hidden;
    display: none;/*  최종배포시 삭제 */
}
.open{
    visibility:visible;
    width: 100vw;
    display: block;/*  최종배포시 삭제 */
}
.layer{
    position: absolute;
    visibility: hidden;
    width: 0vw;
    height: 100vh;
    background-color: rgba(255,255,255,1);
    top: 0;
    right: 0;
    transition: all 0.6s;
}
.layerOpen{
    width: 58vw;
    visibility: visible;
}
.layerOpen .contentWrap{
    padding: 100px;
}
.layerOpen .closebtn{
    width: 20px;
    height: 20px;
    border: none;
    background:url(../../assets/closebtn.png) no-repeat;
    background-size: cover;
    margin-bottom: 30px ;
    cursor: pointer;
}
.layerOpen .navMenus{
    padding: 20px;
}
.layerOpen .navMenu{
    margin:30px 0;
}
.layerOpen .navMenu>a{
    color:#27272E;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.5;
    transition: all 0.3s;
    font-family: 'DM Sans', sans-serif;
}
.layerOpen .navMenu:hover>a{
    color:#5956e9
}
.layerOpen .navContact{
    display: flex;
    justify-content: center;
    margin: 40px 10px;
    color:#525260;
}
.layerOpen .navContact p{
    color:#525260;
    font-family: 'DM Sans', sans-serif;
}
.layerOpen .contacts{width: 50%;}
.layerOpen .available{width: 50%;}
.layerOpen .availavbTitle,.contactTitle{
    color:#27272e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom:15px;
}
@media (max-width: 990px) {
    .layerOpen .navContact{
        flex-direction: column;
        justify-content: center;
        margin: 40px 10px;
        color:#525260;
    }
    .layerOpen .contentWrap{
        padding: 68px;
    }
    .layerOpen .contacts{width: 100%;}
    .layerOpen .available{width: 100%;}
    .contactNumber{
        line-height: 16px;
        -webkit-line-clamp: 2;
        word-wrap: break-word
    }
    .layerOpen .navMenu>a{
        font-size: 1.6rem;
    }
}
@media (max-width: 768px) {
    .hamburgerWrap{
        width: 50px;
        height: 50px;
    }
    .hamburgerBtn{
        width:50px;
        height: 50px;
    }
    .layerOpen .availavbTitle,.contactTitle{
        font-size: 1.6rem;
    }
}
@media (max-width: 576px) {
    .layerOpen .contentWrap{
        padding: 40px;
    }
}